<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <!--Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Angular CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>

    <!--Angular UI Router-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
</head>

<body>
    <div class="container" ng-app="CRMApp" ng-app="customerController">
        <div class="row">
            <div class="col-md-6">
                <label>Transfer Client to :</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Client List</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Client1</a>
                        <a class="dropdown-item" href="#">Client2</a>
                        <a class="dropdown-item" href="#">Client3</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">My Account</a>
                    </div>
                </div>
                <button>Transfer</button>
                </br>
                </br>
                <button class="btn btn-primary">Basic Information</button>
                <div class="clientInfo" ng-show="true"></div>
                <button class="btn btn-primary">Full Contact Information</button>
                <div class="clientInfo" ng-show="true"></div>
            </div>
            <div class="col-md-6">
                <button>Create SMS</button>
                <button>Create E-Mail</button>
                <button>Create Note</button>
                <div class="buttonReaction"></div>
                <div class="noteList"></div>
            </div>
        </div>
    </div>

        <script src="./app.js"></script>
        <script src="./controllers/customerController.js"></script>
</body>

</html>