<!DOCTYPE html>
<div class="container" ng-app="CRMApp">
    <div class="row">
        <div class="col-md-6" ng-controller="smsController">
            <h1>Group SMS</h1>
            <label>Send To:</label>
            <input type="text" />
            <label>Subject:</label>
            <input type="text" />
            <label>Body:</label>
            <input type="text" />
            <button>Send SMS</button>
        </div>
        <div class="col-md-6" ng-controller="emailController">
            <h1>Group E-Mail</h1>
            <label>Send To:</label>
            <input type="text" />
            <label>Subject:</label>
            <input type="text" />
            <label>Body:</label>
            <input type="text" />
            <button>Send E-Mail</button>
        </div>
    </div>
</div>