<!DOCTYPE html>

<div class="container-fluid">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" ui-sref="home">
				<img alt="Brand" src="...">
			</a>
			<h2 class="text-center">Customer's Profile</h2>
			<a href="" class="pull-right"></a>
		</div>
	</nav>

	<div class="row divBelowNav">
		<!-- Left Col -->
		<div class="col-md-6 well vh-90">
			<h3 class="text-center">
				Personal Information
			</h3>
			<!-- Personal Info-->
			<div>
				<h4>
					First Name: {{ selectedCustomer.FirstName }}
				</h4>
				<h4>
					Last Name: {{ selectedCustomer.LastName }}
				</h4>
				<h4>
					Lead State: {{ selectedCustomer.LeadState }}
				</h4>
				<h4>
					Email: <a href="mailto:{{ selectedCustomer.Email }}">{{ selectedCustomer.Email }}</a>
				</h4>
				<h4>
					Phone Number: <a href="tel:{{ selectedCustomer.Phone }}">{{ selectedCustomer.Phone }}</a>
				</h4>
				<h4>
					Customer Since: {{ selectedCustomer.DateAdded }}
				</h4>
				<h4>
					Street Address: {{ selectedCustomer.StreetAddress }}
				</h4>
				<h4>
					City, State Zip: {{ selectedCustomer.City }}, {{ selectedCustomer.State }} {{ selectedCustomer.Zip }}
				</h4>
				<h4>
					Date of Birth: {{ selectedCustomer.DOB }}
				</h4>
				<h4>
					Gender: {{ selectedCustomer.Gender }}
				</h4>
			</div>

			<!-- Full Contact Results -->
			<div class="greyTopBorder">
				<h3 class="text-center">Full Contact Results</h3>
				<button ng-click="getFCByEmail()" class="btn btn-info btn-block">Retrieve By Email</button>
				<!-- Contact Info -->
				<div ng-if="fcEmailResults.contactInfo">
					<h4>
						<span class="underline">Name</span>
					</h4>
					<p ng-if="fcEmailResults.contactInfo.givenName">
						{{ fcEmailResults.contactInfo.givenName }}
					</p>
					<p ng-if="fcEmailResults.contactInfo.familyName">
						{{ fcEmailResults.contactInfo.familyName }}
					</p>
					<!-- Websites -->
					<div ng-if="fcEmailResults.contactInfo.websites">
						<h4>
							<span class="underline">Websites</span>
						</h4>
						<ul>
							<li ng-repeat="website in fcEmailResults.contactInfo.websites">
								<a href="{{ website.url }}">{{ website.url }}</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Demographics -->
				<div ng-if="fcEmailResults.demographics">
					<h4><span class="underline">Demographics</span></h4>
					<p>{{ fcEmailResults.demographics.locationGeneral }}</p>
				</div>
				<!-- Digital Footprint -->
				<div ng-if="fcEmailResults.digitalFootprint">
					<h4>
						<span class="underline">Digital Footprint</span>
					</h4>
					<p ng-repeat="score in fcEmailResults.digitalFootprint.scores">
						{{ score.type }} {{score.provider}} score: {{ score.value }}
					</p>
					<p>
						Score(s) based on: <span ng-repeat="topic in fcEmailResults.digitalFootprint.topics">
							{{ topic.value }} 
						</span>
					</p>
				</div> <!-- Digital Footprint -->
				<div ng-if="fcEmailResults.socialProfiles"><!-- Social Profiles -->
					<h4>
						<span class="underline">Social Profiles</span>
					</h4>
					<div ng-repeat="profile in fcEmailResults.socialProfiles">
						<ul>
							<li>
								<a href="{{ profile.url }}">
									{{ profile.typeName }}
								</a>
							</li>
							<li>
								<ul class="marginLeft15px">
									<li ng-if="profile.followers">
										Followers: {{ profile.followers }}
									</li>
									<li ng-if="profile.username">
										Username: {{ profile.username }}
									</li>
								</ul>
							</li>
						</ul>
					</div> <!-- Repeat Social Profiles -->
				</div><!-- Social Profiles -->
				<!-- Organizations -->
				<div ng-if="fcEmailResults.organizations">
					<h4>
						<span class="underline">Organizations</span>
					</h4>
					<div ng-repeat="organization in fcEmailResults.organizations">
						<ul>
							<li class="underline">
								{{ organization.name }}
							</li>
							<li>
								<ul class="marginLeft15px">
									<li ng-if="organization.title">
										Title: {{ organization.title }}
									</li>
									<li ng-if="organization.current">
										Current: {{ organization.current }}
									</li>
									<li ng-if="organization.startDate">
										Start Date: {{ organization.startDate }}
									</li>
								</ul>
							</li>
						</ul>
					</div> <!-- Organizations Repeat -->
				</div><!-- Organizations -->
				<!-- Photos -->
				<div ng-if="fcEmailResults.photos">
					<h4>
						<span class="underline">Photos</span>
					</h4>
					<ul>
						<li ng-repeat="photo in fcEmailResults.photos">
							<img src="{{photo.url}}" alt="Profile Picture">
						</li>
					</ul>
				</div><!-- Photos -->
			</div><!-- Full Contact Results -->
		</div><!-- Left Col -->

		<!-- Right Col -->
		<div class="col-md-6 well vh-90">
			<h3 class="text-center">
				Notes
			</h3>
			<!-- New Note -->
			<div>
				<div class="form-group">
					<!--<label for="">Subject</label>-->
					<input ng-model="newNoteSubject" type="text" placeholder="Note Subject" class="form-control">
				</div>
				<div class="form-group">
					<!--<label for="">Body</label>-->
					<textarea ng-model="newNoteBody" placeholder="Note Body" cols="30" rows="6" class="form-control"></textarea>
				</div>
				<div class="pull-right">
					<button class="btn btn-success moodBtn">:)</button>
					<button class="btn btn-warning moodBtn">:|</button>
					<button class="btn btn-danger moodBtn">:(</button>
					<button class="btn btn-default">Save Note</button>
					</div>
			</div>
			<!-- Current Notes -->
			<div ng-repeat="note in notes" class="form-group">

			</div>
		</div><!-- Right Col -->

	</div>
	<!-- Row 1 -->
</div>
<!-- Main Container -->