<!DOCTYPE html>
<div class="container" ng-controller="userController">
    <div class="row">
        <div class="col-md-6">
            <h1>CRM Application</h1>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <label>E-Mail</label>
                    <input type="text" ng-model="email" />
                </div>
                <div class="col-md-6">
                    <label>Password</label>
                    <input type="text" ng-model="password" />
                    <a ng-sref="/recovery">Forgot Password?</a>
                </div>
                <div class="col-md-6">
                    <button ng-click="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Customer Relations Management</h2>
            <h3>communicate effectively.</h3>
            <h3>learn more information.</h3>
            <h3>keep track of clients.</h3>
            <h3>get hella lit fam.</h3>
            <button ng-click="continue()">Continue.</button>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h2>Sign Up</h2>
            </div>
            <div class="row">
                <label>First Name</label>
                <input type="text" ng-model="newFirstName" />
            </div>
            <div class="row">
                <label>Last Name</label>
                <input type="text" ng-model="newLastName" />
            </div>
            <div class="row">
                <label>E-Mail</label>
                <input type="text" ng-model="newEmail" />
            </div>
            <div class="row">
                <label>Confirm E-Mail</label>
                <input type="text" ng-model="confirmNewEmail" />
            </div>
            <div class="row">
                <label>Password</label>
                <input type="text" ng-model="newPassword" />
            </div>
            <div class="row">
                <label>Confirm Password</label>
                <input type="text" ng-model="confirmNewPassword" />
            </div>
            <div class="row">
                <button class="btn btn-primary" ng-click="newUser()">Sign Up</button>
            </div>
        </div>
    </div>
    <div class="row">
        <span ng-show="loginTestView"> {{loginTest}} </span>
        <span ng-show="signUpTestView"> {{signUpTest}} </span>
    </div>
</div>