/* NAVBAR
****************************************/

.divBelowNav {
  padding-top: 70px;
}

nav div h2 {
  margin-right: 6.5%;
}

/* LEFT COL
****************************************/

/* LEFT COL
****************************************/

/* MISC
****************************************/

.vh-90 {
  height: 90vh;
}