/* NAVBAR
****************************************/

.divBelowNav {
  padding-top: 40px;
}

nav div h2 {
  margin-right: 1.53%;
}

/* LEFT COL
****************************************/
.hideBtn {
  margin-top: 5px;
}


/* RIGHT COL
****************************************/
.moodBtn {
  border-radius: 100%;
  font-weight: bold;
}

/* MISC
****************************************/

.vh-90 {
  height: 90vh;
  overflow-y: scroll;
}

.underline {
  text-decoration: underline;
}

.marginLeft15px {
  margin-left: 15px;
}

.greyBtmBorder {
  border-bottom: 2px solid #e7e7e7;
}

.greyTopBorder {
  border-top: 2px solid #e7e7e7;
}

.clearRight {
  clear: both;
}

.paddLeftEditAndDelete {
  padding-left: 122.18px;
}

