/* NAVBAR
****************************************/

.divBelowNav {
  padding-top: 40px;
}

nav div h2 {
  margin-right: 6.5%;
}

/* LEFT COL
****************************************/



/* RIGHT COL
****************************************/
.moodBtn {
  border-radius: 100%;
}

/* MISC
****************************************/

.vh-90 {
  height: 90vh;
  overflow-y: scroll;
}

.underline {
  text-decoration: underline;
}

.marginLeft15px {
  margin-left: 15px;
}

.greyBtmBorder {
  border-bottom: 2px solid #e7e7e7;
}

.greyTopBorder {
  border-top: 2px solid #e7e7e7;
}

.clearRight {
  clear: both;
}